body{
    background-color: #B5F29D;
}

h1 {
    text-align: center;
    font-size: 30px;
    border-style: solid;
    border-color:#23754F;
    font-family: cursive;
}

h2{
    text-align: center;
    font-size: 20px;
    border-style: solid;
    border-color: #23754F;
    font-family: cursive
}

h3{
    text-align: center;
    font-size: 20px;
    border-style: solid;
    border-color: #23754F;
    font-family: cursive;
}

h4{
    text-align: center;
    font-size: 20px;
    border-color: #23754F;
    border-style: solid;
    font-family: cursive;
}

p{
    font-size: 17px;
    background-color: #0FAB62;
    text-align: center;
    font-family: fantasy;
}

ul{
    background-color: #0FAB62;
    font-family: fantasy;
}

ol{
    background-color: #0FAB62;
    font-family: fantasy;
}

img{
    height: 300px;
    width: autopx;
}

button{
    padding: 15px 32px;
    border-radius: 50%;
    background-color:#23754F;
    border-color: black;
    font-size: 20px;
    display: block;
    margin: auto;
}

.profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
}